name: Ruby CI
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby-version: [ '2.4', '2.5', '2.6', '2.7', '3.0', '3.0', '3.2', '3.3', '3.4', 'jruby-9', 'jruby-10']
        # CRuby < 2.6 does not support macos-arm64, so test those on amd64 instead
        exclude:
          - os: macos-latest
            ruby-version: '2.4'
          - os: macos-latest
            ruby-version: '2.5'
        include:
          - os: macos-13
            ruby-version: '2.4'
          - os: macos-13
            ruby-version: '2.5'
    steps:
      - uses: actions/checkout@v4
        name: Set up Ruby ${{ matrix.ruby-version }}
      - uses: ruby/setup-ruby@v1
        env:
          JRUBY_OPTS: "--debug"
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run tests
        run: bundle exec rake test
        env:
          JRUBY_OPTS: "--debug"
